* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/background-calm-clouds-747964.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    font-weight: 700;

    &__button {
        padding: 10px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 15px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    &__button:hover {
        animation: expand 0.15s forwards linear;
    }

    @-webkit-keyframes expand {
        to {
            transform: scale(1.1);
        }
    }

    @keyframes expand {
        to {
          transform: scale(1.1);
        }
    }

    &__button__active {
        color: #fff;
        text-shadow: 5px 5px 15px #000;
        transform: scale(1.1);
    }
}

.content {
    width: 600px;
    height: 600px;
    margin: 5em auto;
    border-radius: 5px;
    box-shadow: 0 0 0 8px rgba(#000, .5);
    padding: 20px;

    &__tabs {
        display: none;
        animation: fadeEffect 1s;
        width: 100%;
        height: 100%;

        @-webkit-keyframes fadeEffect {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        
        @keyframes fadeEffect {
            0% { opacity: 0;}
            100% {opacity: 1;}
        }

        &__home{
            color: #fff;
            text-shadow: 2px 2px 2px #000;
            text-align: center;

            span{
                color: #5b91e5;
            }
            
            p{
                margin-top: 5px;
                border-top: 2px solid #fff;
            }
        }

        .title{
            width: 100%;
            font-size: 32px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }

        .tech__item{
            width: 35%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
            background: #e3e3e3;
            border: 2px solid #5b91e5;
            border-radius: 15px;
            transition: filter .3s ease;

            &__img{
                height: 90%;
            }
        }

        .tech__item:hover{
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
        }

        &__contact{
            margin-top: 20px;
            font-size: 24px;
            color: #fff;
            text-shadow: 2px 2px 2px #000;

            ul{
                list-style-type: none;

                i{
                    margin-right: 5px;
                }

                li{
                    margin: 10px 0;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .contact{
        align-content: flex-start;
    }

    &__tabs__active {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .content {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    .content__tabs .tech__item__img {
        width: 100%;
        height: 80%;
    }
}


// PROJECTS SLIDER

.slider {
	width: 500px;
	height: 250px;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 240px;
}
.slider > .radio {
	display: none;
}

.reg__login{
    background: url('../img/reg-login.PNG') no-repeat;
    background-size: cover;
}

.rps{
    background: url('../img/rps.PNG') no-repeat;
    background-size: cover;
}

.todo{
    background: url('../img/todo.PNG') no-repeat;
    background-size: cover;
}

.bmi__calc{
    background: url('../img/bmi-calc.PNG') no-repeat;
    background-size: cover;
}

.grid__form{
    background: url('../img/form-grid.PNG') no-repeat;
    background-size: cover;
}

/* slide items */
.slider > .item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.item__img{
    width: 80%;
    height: 80%;
}


.slider > .radio:checked ~ .item {
	transition: all .4s ease 0s;
}
/* labels ( prev. and next button ) */
.slider > .label {
	display: none;
	position: absolute;
	z-index: 4;
	top: 0;
	height: 100%;
	width: 30px;
	background-color: rgba(#000, .7);
	opacity: 0;
	transition: opacity .2s ease 0s;
}
.slider:hover > .label {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
/* indicators */
.slider > .indicator {
	position: relative;
	display: inline-block;
	bottom: 5px;
	z-index: 5;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba( 255, 255, 255, .5 );
	vertical-align: bottom;
	line-height: 1;
	opacity: 0;
	transition: opacity .2s ease 0s;
}
.slider:hover > .indicator {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
.slider > .indicator label {
	display: block;
	width: 100%;
	height: 100%;
}


/* [ active slide item ] asterisks: slide.length - 1 */
.slider > .radio:checked + * + * + * + * + .item {
	left: 0;
	z-index: 3;
}
/* [ previous slide item ] asterisks: slide.length - 2 */
.slider > .radio:checked + * + * + * + .item,
.slider > .radio:first-of-type:checked ~ .item:last-of-type {
	left: -100%;
	z-index: 2;
}
/* [ next slide item ] asterisks: slide.length */
.slider > .radio:checked + * + * + * + * + * + .item,
.slider > .radio:last-of-type:checked ~ .item:first-of-type {
	left: 100%;
	z-index: 2;
}
/* [ previous button ] asterisks: ( slide.length - 1 ) * 2 */
.slider > .radio:checked + * + * + * + * + * + * + * + * + .label,
.slider > .radio:first-of-type:checked ~ .label:last-of-type {
	left: 0;
	display: block;
}
/* [ next button ] asterisks: slide.length * 2 */
.slider > .radio:checked + * + * + * + * + * + * + * + * + * + * + .label,
.slider > .radio:last-of-type:checked ~ .label:first-of-type {
	right: 0;
	display: block;
}
/* [ active indicator ] asterisks: ( slide.length * 3 ) - 1 */
.slider > .radio:checked + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .indicator {
	background-color: rgba(#7f7f7f,.6);
}