* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/background.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

.loaded {
    .loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;

        .section-left {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .section-right {
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .loader {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
    }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;

        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

        z-index: 1001;
    }

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .section-left {
        left: 0;
    }

    .section-right {
        right: 0;
    }
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    font-weight: 700;
    color: #5b91e5;

    &__button {
        padding: 10px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 15px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    &__button:hover {
        animation: expand 0.15s forwards linear;
    }

    @-webkit-keyframes expand {
        to {
            transform: scale(1.1);
        }
    }

    @keyframes expand {
        to {
            transform: scale(1.1);
        }
    }

    &__button__active {
        color: #fff;
        text-shadow: 5px 5px 15px #000;
        transform: scale(1.1);
    }
}

.content {
    width: 600px;
    height: 600px;
    margin: 5em auto;
    border-radius: 5px;
    box-shadow: 0 0 0 8px rgba(#5b91e5, .5);
    padding: 20px;
    background: rgba(#000, .5);

    &__tabs {
        display: none;
        animation: fadeEffect 1s;
        width: 100%;
        height: 100%;

        @-webkit-keyframes fadeEffect {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fadeEffect {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        &__home {
            color: #fff;
            text-shadow: 2px 2px 2px #000;
            text-align: center;

            span {
                color: #5b91e5;
            }

            p {
                margin-top: 5px;
                border-top: 2px solid #fff;
            }
        }

        .title {
            width: 100%;
            font-size: 32px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }

        .tech__item {
            width: 35%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
            background: #e3e3e3;
            border: 2px solid #5b91e5;
            border-radius: 15px;
            transition: filter .3s ease;

            &__img {
                height: 90%;
            }
        }

        .tech__item:hover {
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
        }

        &__contact {
            margin-top: 20px;
            font-size: 24px;
            color: #fff;
            text-shadow: 2px 2px 2px #000;

            ul {
                list-style-type: none;

                i {
                    margin-right: 5px;
                }

                li {
                    margin: 10px 0;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .contact {
        align-content: flex-start;
    }

    &__tabs__active {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    body {
        height: auto;
    }

    .content {
        width: 80%;
        min-height: 600px;
        height: auto;

        &__tabs {
            min-height: 600px;
        }

        .tech__item {
            width: 80%;
            height: 150px;
        }
    }

    .reg__login,
    .bmi__calc,
    .grid__form,
    .todo,
    .rps {
        background-position: center !important;
    }
}


// PROJECTS SLIDER

.slider {
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 240px;
    border-radius: 15px;
}

.slider>.radio {
    display: none;
}

.reg__login {
    background: url('../img/reg-login.PNG') no-repeat;
    background-size: cover;
}

.rps {
    background: url('../img/rps.PNG') no-repeat;
    background-size: cover;
}

.todo {
    background: url('../img/todo.PNG') no-repeat;
    background-size: cover;
}

.bmi__calc {
    background: url('../img/bmi-calc.PNG') no-repeat;
    background-size: cover;
}

.grid__form {
    background: url('../img/form-grid.PNG') no-repeat;
    background-size: cover;
}

/* slide items */
.slider>.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item__img {
    width: 80%;
    height: 80%;
}

.slider>.radio:checked~.item {
    transition: all .4s ease 0s;
}

/* labels ( prev. and next button ) */
.slider>.label {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: rgba(#000, .7);
    opacity: 0;
    transition: opacity .2s ease 0s;
}

.slider:hover>.label {
    opacity: 1;
    transition: opacity .2s ease 0s;
}

/* indicators */
.slider>.indicator {
    position: relative;
    display: inline-block;
    bottom: 5px;
    z-index: 5;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    vertical-align: bottom;
    line-height: 1;
    opacity: 0;
    transition: opacity .2s ease 0s;
}

.slider:hover>.indicator {
    opacity: 1;
    transition: opacity .2s ease 0s;
}

.slider>.indicator label {
    display: block;
    width: 100%;
    height: 100%;
}

/* [ active slide item ] asterisks: slide.length - 1 */
.slider>.radio:checked+*+*+*+*+.item {
    left: 0;
    z-index: 3;
}

/* [ previous slide item ] asterisks: slide.length - 2 */
.slider>.radio:checked+*+*+*+.item,
.slider>.radio:first-of-type:checked~.item:last-of-type {
    left: -100%;
    z-index: 2;
}

/* [ next slide item ] asterisks: slide.length */
.slider>.radio:checked+*+*+*+*+*+.item,
.slider>.radio:last-of-type:checked~.item:first-of-type {
    left: 100%;
    z-index: 2;
}

/* [ previous button ] asterisks: ( slide.length - 1 ) * 2 */
.slider>.radio:checked+*+*+*+*+*+*+*+*+.label,
.slider>.radio:first-of-type:checked~.label:last-of-type {
    left: 0;
    display: block;
}

/* [ next button ] asterisks: slide.length * 2 */
.slider>.radio:checked+*+*+*+*+*+*+*+*+*+*+.label,
.slider>.radio:last-of-type:checked~.label:first-of-type {
    right: 0;
    display: block;
}

/* [ active indicator ] asterisks: ( slide.length * 3 ) - 1 */
.slider>.radio:checked+*+*+*+*+*+*+*+*+*+*+*+*+*+*+.indicator {
    background-color: rgba(#7f7f7f, .6);
}